<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>

          <Include>
            [backend]backend.Services.Huespedes*
          </Include>

          <Exclude>
            [backend]backend.Controllers.*
            [backend]backend.Models.*
            [backend]backend.Migrations.*
            [backend]backend.Dtos.*
            [backend]backend.Repositories.*
          </Exclude>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>